body { 
    font-family: Arial, sans-serif; 
    background: #f5f5f5;
    text-align: center;
    padding: 40px 10px;
    align-items: center;
    box-sizing: content-box;
}
.container { 
    display: inline-block;
   background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    
}
h2 { 
    color:#2b6cb0; 
    margin-bottom:12px; 
}


.navbar {
    margin-bottom: 25px;
   background: #3776c6;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    align-items: center;
    
}
footer {
            margin-top: 740px;
            margin-left: 0px;
            margin-right: 0px;
            background: #3776c6;
            color: rgb(255, 255, 255);
        }