body { 
    font-family: Arial, sans-serif; 
    background: #f5f5f5;
    text-align: center;
    padding: 40px 10px;
    align-items: center;
}
.container { 
    display: inline-block;
   background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    
}
h2 { 
    color:#2b6cb0; 
    margin-bottom:12px; 
}
.welcome { 
    margin-bottom:18px; 
}
.menu { 
    display:flex; 
    gap:12px; 
    justify-content:center; 
    flex-wrap:wrap; 
}
.btn { 
    display:inline-block; 
    padding:10px 16px; 
    background:#2b6cb0; 
    color:#fff; 
    text-decoration:none; 
    border-radius:6px; 
}
.btn:hover { 
    opacity:0.95; 
}
.btn.danger { 
    background:#d9534f; 
}
.navbar {
    margin-bottom: 25px;
   background: #3776c6;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    align-items: center;
    
}
footer {
            margin-top: 570px;
            margin-left: 0px;
            margin-right: 0px;
            background: #3776c6;
            color: rgb(255, 255, 255);
        }