body { 
    font-family: Arial, sans-serif; 
    background: #f5f5f5;
    text-align: center;
    padding: 40px 10px;
    align-items: center;
}
.container  { 
    display: inline-block;
   background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    
}
h2 { 
    color:#2b6cb0; 
    margin-bottom:12px; 
}
.p{
    margin-bottom:18px;
    text-align: left;
    
}