body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
    padding: 40px 10px;
}

.container {
    display: inline-block;
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    max-width: 380px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #2b6cb0;
}

form {
    width: 100%;
}

input, select {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 12px;
    background: #4a90e2;
    color: white;
    border: none;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #3776c6;
}

a {
    display: block;
    margin-top: 15px;
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flash {
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    background: #ffe0e0;
    color: #d80000;
    font-weight: bold;
}

nav {
    margin-bottom: 25px;
   background: #3776c6;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    align-items: center;
    
}



        